/*
QUT Capstone Project 2018
Project Owner: Nursery Road State Special School

SNAP - Social Networking Action Platform

Author: Jerusha Kolapudi
Author: Jessica Simpkins
Author: Laine Buraga
Author: Woong Adrian Jekal	
*/

/* 
USER HOME PAGE
*/


#tableDiv {
	width: 590px;
	display: inline-block;
	clear: both;
	border-radius: 20px;
    border: 0px solid #ffff00;
	padding: 10px;
	margin-bottom: 20px;
}

#scollDiv
{
	height: 460px;
	color: #000;
	overflow-y: auto;
}

#userNameTable 
{
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

tbody {

}

tr:hover {

	background-color: #19D74F;
    border: 2px solid #ffff00;
}

tr {
	min-height: 70px;
    display: block;
    border: 2px solid black;
    border-radius: 10px;
    vertical-align: middle;
    margin: 20px;
}

td {
    border-radius: 10px;
    border-color: white;    
    align-items: left;
    text-align: left;   
    font-size: 18pt;
    font-weight: bold;
    vertical-align: middle;
}

#searchBar {
	width: 300px;
	height: 20px;
    display: none;
    vertical-align: middle;
    margin-left: 10px;    
}

#searchDiv {
    margin: 10px;
    min-height: 30px;
    clear: both;
}

#search_btn {
    float: left;
    height: 30px;
    margin-right: 20px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

#student_username {
    color: black;
}

#admin_username {
    color: black;
}

#admin_avatar {
    width: 100px;
    height: 100px;
    border: 1px solid #021a40;
    border-radius: 5px;   
    margin: 10px; 
}

/*borrowed this bit from view_feed.css*/

.userPic {
    width: 65px;
    height: 65px;
    border: 1px solid #021a40;
    border-radius: 5px;
    margin: 10px;
    vertical-align: middle;    
}

.checkBoxImage {
    width: 65px;
    height: 65px;
    border-radius: 5px;
    margin: 10px;
    vertical-align: middle;    
}

.lockPick {
    width: 65px;
    height: 65px;
    border: 1px solid #021a40;
    border-radius: 5px; 
    margin: 10px;
    align-self: right;
}

.rowName {
    width: 350px;
}

/* post nav buttons */
#loginNavigationButtons {
    margin-top: 10px;
}
#previous_btn {
    float: left;
    margin-left: 200px;
}
#next_btn {
    float: center;
}
#select_btn {
    float: right;
    margin-right: 200px;
}
#previous_btn:focus {
	position: relative;
    top: -10px;
	left: -10px;
	margin-right: -20px;
}
#next_btn:focus {
	position: relative;
    top: -10px;
	margin-right: -20px;
	margin-left: -20px;
}
#select_btn:focus {
	position: relative;
    top: -10px;
	right: -10px;
	margin-left: -20px;
}

#add_btn {
    float: right;
    margin-right: -122px;
}
#add_btn:focus {
    float: right;
    margin-right: -142px;
    margin-bottom: -20px;
}